<fieldset class="inline-extra-col">
	<div class="inline-edit-col">
		<label>
			<span class='title {{ element.name }}'>{{ element.label }}</span>
			{% if element.type in ['checkbox', 'boolean'] %}
				<select name='{{ element.name }}'>
					<option value='-1'>{{ __( '&mdash; No Change &mdash;' ) }}</option>
					<option value='1'>{{ __('Yes') }}</option>
					<option value='0'>{{ __('No') }}</option>
				</select>
			{% elseif element.type in ['integer'] %}
				<input type='number' name='{{ element.name }}'/>
			{% elseif element.type in ['range'] %}
				<input type='number' min='{{ element.min }}' max='{{ element.max }}' name='{{ element.name }}'/>
			{% else %}
				<input type='text' name='{{ element.name }}'>
			{% endif %}
			{% if element.help | length > 0 %}
				<span class="help">{{ element.help }}</span>
			{% endif %}
		</label>
	</div>
</fieldset>
